<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>echo json</title>
    <script src="../static/js/jquery.js"></script>
</head>
<body>
<div id="inpuFile">
    <input type="file" name="file" id="fileId" onchange="check()" />
    <input type="submit" name="btn" value="提交" id="btnId" onclick="submit()" disabled="disabled"/>
</div>
<pre id="myShow"></pre>

<script type="text/javascript">
    function check() {
        var objFile = document.getElementById("fileId");
        if (objFile.value == "") {
            alert("不能空")
        }


        var files = $('#fileId').prop('files');//获取到文件列表
        if (files.length == 0) {
            alert('请选择文件');
        } else {
            var reader = new FileReader();//新建一个FileReader
            reader.readAsText(files[0], "UTF-8");//读取文件
            reader.onload = function (evt) { //读取完文件之后会回来这里
                var fileString = evt.target.result; // 读取文件内容
                if(fileString.search("name") != -1 && fileString.search("age") != -1){
                    alert("正确");
                    $("#btnId").removeAttr("disabled");
                    $("#myShow").append(fileString);
                    return true;
                }else{
                    alert("不符合要求");
                    $("#btnId").attr("disabled", "disabled");
                }
            }
        }
    }

    function submit() {
        alert("submit");
    }
</script>
</body>
</html>