# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Echart-and-Websocket\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/.idea/
